.alert_container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85)
}

.alert_content {
    position: absolute;
    width: 300px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.alert_title {
    color: #ffffff;
    font-size: 1.4em;
    line-height: 1.2em;
    margin-bottom: 2em;
}

.alert_button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .5rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #7952b3;
    cursor: pointer;
}